@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background-color: #F0F8FF;
}

.section-center{
    height: auto;
    background-color: white;
    width: 50%;
    margin: 15vh auto;
    box-shadow: 10px 10px 18px grey, -10px -10px 18px grey;
    padding-bottom: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    padding-top: 10px;
}



.alert{
    text-align: center;
    font-size: 1.3rem;
    height: 40px;
    width: 80%;
    padding: 10px 0;
    margin: auto;
    text-transform: capitalize;
}

.alert-danger{
    color: maroon;
    background-color: rgb(233, 173, 183);
}

.alert-success{
    color: green;
    background-color: lightgreen;
}

.heading{
    text-align: center;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.3rem;
    text-transform: capitalize;
    margin: 10px auto;
}

.form-control{
    width: 400px;
    margin: 10px auto;
}

.form-control input{
    border: none;
    width: fit-content;
    margin: 10px auto;
    font-size: 1.35rem;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background-color: #dfe9f1;
    padding: 10px;
}

.submit{
    border: none;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    font-size: 1.35rem;
    padding: 10px;
    text-transform: capitalize;
    cursor: pointer;
    margin-left: -4px;
    background-color: #add8e6;
}


#grocery:focus{
    border: none;
}

.grocery-container{
    width: 80%;
    margin: 10px auto;
    visibility: hidden;
    box-sizing: border-box;
}

.grocery-item{
    height: auto;
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.item-title{
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
}

/* .btn-container{} */

.edit-btn{
    border: none;
    background-color: transparent;
    color: lime;
    margin-right: 10px;
    cursor: pointer;
}

.delete-btn{
    border: none;
    background-color: transparent;
    color: red;
    cursor: pointer;
}

.format{
    width: 100px;
    margin: 30px auto;
}

.clear-btn{
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: red;
    text-transform: capitalize;
    font-size: 1.3rem;
}
